@font-face {
    font-family: 'Pretendard Variable';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: local('Pretendard Variable'), url('../font/PretendardVariable.woff2') format('woff2-variations');
}


html {
    -webkit-text-size-adjust: 100%;
    font-family: Pretendard Variable, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,
        BlinkMacSystemFont, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.4;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    color: #111827;
    font-size: 14px;
    font-weight: 400;
    min-height: 100%;
    font-variant-ligatures: no-contextual;
    font-feature-settings: 'calt';
}

blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400;
}

ul {
    list-style: none;
}

button,
input,
select {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
:after,
:before {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
}

body,
.bodyBox {
    min-height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
}

canvas,
img,
picture,
svg,
video {
    height: auto;
    display: block;
    max-width: 100%;
}

iframe {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}